/* Reseta as configurações padrão do navegador */
* {

    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Configurações modo "Dark" */
:root {

    --text-color: white;
    --bg-url: url(./assets/bg-mobile.jpg);
    --stroke-color: rgba(255, 255, 255, 0.5);
    --surface-color: rgba(255, 255, 255, 0.05);
    --surface-color-hover: rgba(0, 0, 0, 0.2);
    --highlight: rgba(255, 255, 255, 0.1);
    --bg-switch-url: url(./assets/MoonStars.svg);
}

/* Configurações modo "Light" */
.light {

    --text-color: black;
    --bg-url: url(./assets/bg-mobile-light.jpg);
    --stroke-color:rgba(0, 0, 0, 0.5);
    --surface-color: rgba(0, 0, 0, 0.05);
    --surface-color-hover: rgba(0, 0, 0, 0.2);
    --highlight: rgba(0, 0, 0, 0.1);
    --bg-switch-url: url(./assets/Sun.svg);
}

body {

    /*Cria uma variável para o plano de fundo e configura para não repetir, alinha ao topo e no centro, cobre toda a tela*/
    background: var(--bg-url) no-repeat top center/cover;
    
   /* outra forma de fazer seria assim
    background-image: url(./assets/bg-mobile.jpg);
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;*/  
}

/* Adiciona o tipo de fonte e cor do texto, o "*" na frente do "body" indica que essas configurações serão adicionadas para todos os elemento do body" */
body * {

    font-family: "Inter", sans-serif;
    color: var(--text-color);
}

/* No container estão localizados a maioria dos elementos do projeto
estas linhas adicionam largura, margem e preenchimento repectivamente */
#container {

  width: 360px;
  margin: 56px auto 0;
  padding: 0 24px;
  
}

/* Posiciona a foto do perfil e o texto abaixo */
#profile {

    text-align: center;
    padding: 24px;
}

/* Define o tamanho da imagem */
#profile img {

    width: 112px;
}

/* Define o tamanho do texto abaixo da imagem */
#profile p {

    font-weight: 500;
    line-height: 24px;
    padding-top: 8px;
}

/* Nessas linhas estão as configurações da "div" onde configura o botão "dark, light" */
.switch {

    position: relative;
    width: 64px;
    margin: 16px auto;
    
}

/* Configurações do botão 
largura, altura, borda, arredondamento de borda, plano de fundo, posicionamento da imagem do botão em relação a "caixa" do "span" */
.switch button {

    width: 32px;
    height: 32px;
    border: 0;
    border-radius: 50%;
    background: white var(--bg-switch-url) no-repeat center;
    position: absolute;
    top: 50%;
    left: 0;
    z-index: 1;
    transform: translateY(-50%);
    animation: slide-back 0.2s;
}


/* define o início do botão no lado esquerdo */
.light .switch button {

    animation: slide-in 0.2s forwards;
}

.switch button:hover {
    outline: 8px solid var(--highlight);
}

/* Configuração da "caixa" onde o botão ficará alternado de um lado a outro após o click  */
.switch span {

    display: block;
    width: 64px;
    height: 24px;
    background: var(--surface-color);
    border: 1px solid var(--stroke-color);
    border-radius: 9999px;

/* Esta linha adiciona uma configuração de compatibilidade com o navegador */
    -webkit-backdrop-filter: blur(4px);
}


/* Configura a exibição e espaçamento dos itens da lista "links" */
ul {

    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 16px;
}


/* Definições visuais da "caixa" que envolve os intes da lista "links" */
ul li a {

    display: flex;
    align-items: center;
    justify-content: center;
    padding: 16px 24px;
    background: var(--surface-color);
    border: 1px solid var(--stroke-color);
    border-radius: 8px;
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    text-decoration: none;
    font-weight: 500;
    transition: background 02s;
}

/* Esta linha gera uma "animação" quando o cursor do mouse repousa sobre um intem da lista "link" */
ul li a:hover {

    background: var(--surface-color-hover);
    border: 1.5px solid var(--text-color);
}

/* Define a exibição e espaçamento entre os icones das redes sociais */
.socialmedia {

    display: flex;
    justify-content: center;
    font-size: 24px;
    padding: 24px 0px;
}

/* Posiciona os icones das redes sociais */
.socialmedia a {
    
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 16px;
    transition: backgroud 0.2s;
    border-radius: 50%;
}

/* Esta linha gera um contorno quando o cursor do mouse repousa sobre o icone */ 
.socialmedia a:hover {

    background: var(--highlight);
}

/* Posiciona e define o tamanho do texto do rodapé */
footer {

    text-align: center;
    padding: 24px 0;
    font-size: 14px;
}

  /* Media queries para configuração plano de fundo em telas maiores*/
  @media (min-width: 700px) {
    :root {
      --bg-url: url(./assets/bg-desktop.jpg);
    }
  
    .light {
      --bg-url: url(./assets/bg-desktop-light.jpg);
    }
  }
  
  /* Animation de movimento do botão */
  @keyframes slide-in {
    from {
      left: 0;
    }
    to {
      left: 50%;
    }
  }
  
  @keyframes slide-back {
    from {
      left: 50%;
    }
    to {
      left: 0;
    }
  }